@model TaskModel

<div class="d-flex flex-column">
    <div class="row">
        <h2 class="col-6">@Model.Name</h2>
        <select asp-for="@Model.TaskStatus" class="form-select">
            <option value="NotStarted">Not Started</option>
            <option value="Started">Started</option>
            <option value="Completed">Completed</option>
        </select>
    </div>
</div>
