@using Midterm;
@model LongAnswerQuestionModel

<div>
    <h2>@Model.Question</h2>
    <textarea asp-for="@Model.Answer" class="form-control w-100"></textarea>
    <span asp-validation-for="@Model.Answer"></span>
</div>