@model List<BlogPost>
@{
    ViewBag.Title = "Blog Posts";
}

@foreach (var post in Model)
{
    <div>
        <h2>@post.Title</h2>
        <a asp-action="Edit" asp-controller="Blog" asp-route-id="@(post.ID)">Edit Post</a>
    </div>
}

<a asp-action="Add" asp-controller="Blog">Add Post</a>
